<div>
  <div>
    <p>Hello new user, please enter ur data</p>
  </div>
  <div>
    <div class="form">
      <input id="firstName" type="text" [(ngModel)]="newUser.firstName" required/>
      <label for="firstName">Введите имя</label>
    </div>
    <div class="form">
      <input id="lastName" type="text" [(ngModel)]="newUser.lastName" required/>
      <label for="lastName">Введите фамилию</label>
    </div>
    <div class="form">
      <input id="birthDate" type="date" [(ngModel)]="newUser.birthdate" required/>
      <label for="birthDate">Введите дату рождения</label>
    </div>
    <div class="form">
      <input id="currentFrom" type="text" [(ngModel)]="newUser.currentFrom" required/>
      <label for="currentFrom">Откуда вы</label>
    </div>
    <div>
      <button type="submit" (click)="confirmForm()">Подтвердить</button>
    </div>
    <div>
      <p>При наличии, укажите ваше место работы</p>
    </div>
<!--    <div class="form">-->
<!--      <input id="jobName" type="text" [(ngModel)]="newUser.job.name"/>-->
<!--      <label for="jobName">Названия компании</label>-->
<!--    </div>-->
<!--    <div class="form">-->
<!--      <input id="jobSalary" type="number" [(ngModel)]="newUser.job.salary"/>-->
<!--      <label for="jobName">зароботная плата</label>-->
<!--    </div>-->
<!--    <div class="form">-->
<!--      <input id="jobSince" type="date" [(ngModel)]="newUser.job.since"/>-->
<!--      <label for="jobSince">С какого числа работаете</label>-->
<!--    </div>-->
  </div>
  <div style="margin-top: 20px">
    <div>
      <input id="deleteJobless" type="checkbox" [ngModel]="isDeleteJobLess"/>
      <label for="deleteJobless">Скрыть безработных</label>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>
          First Name
        </th>
        <th>
          Last Name
        </th>
        <th>
          Birthdate
        </th>
        <th>
          Current from
        </th>
        <th>
          Job name
        </th>
        <th>
          Salary
        </th>
        <th>
          Since
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of userList">
        <td>
          {{u.firstName}}
        </td>
        <td>
          {{u.lastName}}
        </td>
        <td>
          {{u.birthdate}}
        </td>
        <td>
          {{u.currentFrom}}
        </td>
        <td>
          {{u.job?.name}}
        </td>
        <td>
          {{u.job?.salary}}
        </td>
        <td>
          {{u.job?.since}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
