<div>
  <div>
    <input type="text" [(ngModel)]="user.birthdate"/>
    <button (click)="cleanFormName()">CleanForm</button>
  </div>
  <div>
    <input type="text" [(ngModel)]="user.birthdate"/>
    <button (click)="cleanFormAge()">CleanForm</button>
  </div>
  <div>{{user.birthdate}}</div>
  <div>{{user.birthdate}}</div>
  <br/>
  <table>
    <thead>
    <tr>
      <th>Username</th>
      <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let u of users">
      <td>{{u.name}}</td>
      <td>{{u.age}}</td>
    </tr>
    </tbody>
  </table>
</div>
